<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dimomite.brbuttonsystem">

    <!-- TODO USB connection is an optional feature here, need to check in runtime -->
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".BrButtonSystemControlApplication"
        android:allowBackup="true"
        android:icon="@drawable/system_preview_128"
        android:label="@string/app_name"
        android:roundIcon="@drawable/system_preview_128"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.main.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.devices.DeviceActivity" />

        <activity
            android:name=".presentation.games.GamesActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:supportsPictureInPicture="true" />

        <receiver android:name=".remotecontrol.RemoteControlWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/remote_control_widget" />
        </receiver>

        <service
            android:name=".remotecontrol.RemoteControlService"
            android:foregroundServiceType="connectedDevice">


        </service>

    </application>

</manifest>